.nav {
  display: flex;
}
.nav__links {
  display: flex;
  list-style: none;
  margin-left: auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 20px;
  padding: 0 0;
}
.nav__link {
  text-decoration: none;
  color: #000000;
}
.nav__link:hover {
  color: #2f80ed;
  transition-duration: 2s;
}
.nav__logo {
  margin: 0;
}
